<h1>{{team.teamName}}</h1>

<ul *ngFor="let player of team.players; let i = index">
  <li> Player: {{player.name}} <br>
    Jersey: #{{player.jersey}}<br>
    Activity: {{player.active}}<br>
    <button *ngIf="!player.active" (click)="setActive(i, !player.active)">Change to active status</button>
    <button (click)="removePlayer(i)">Remove player from team</button>
  </li>
</ul>

<p>Total players on team: {{getPlayerCount()}}</p>

<h2>Active Players</h2>
<ul>
  <li *ngFor="let player of getActivePlayers()">
    {{player.name}}
  </li>
</ul>

<button (click)="logActivePlayers()">Log Active Players in Console</button>